.search-field.selected {
  display: inline-block;
}
.search-submit {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 121em;
  top: 16px;
  &:visited,
  &:hover {
    background-color: transparent;
  }
}

.site-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.342);
  border-bottom: 1px solid #e1e1e1;
  z-index: 1;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.section-titles {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 420;
}
.icon-search {
  padding-right: 20px;
}
.front-hero-image {
  background-image: url('../../images/home-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 280px;
    width: 280px;
  }
}
.front-tent-image {
  display: flex;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 200px;
  width: 50px;
  height: 50px;
}
.front-tent-image-green {
  background-image: url('../images/logos/inhabitent-logo-tent.svg');
  display: flex;
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  padding-top: 0;
}
.adventure-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  grid-auto-rows: 2fr;
  height: 600px;
  margin: 40px 40px;
  a {
    border: 1px solid #fff;
    color: #fff;
    padding: 0.55rem 0.75rem;
    text-transform: uppercase;
    margin-left: 20px;
    &:hover {
      background: $color_brand;
      border: none;
      color: #fff;
    }
  }
  h3 {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Merriweather-light';
    font-weight: 400;
    font-size: 2.4rem;
  }
  .adventure-1 {
    background: url(../../images/adventure-photos/canoe-girl.jpg) no-repeat;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-size: cover;
  }
  .adventure-2 {
    background: url(../../images/adventure-photos/beach-bonfire.jpg) no-repeat;
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
    background-size: cover;
  }
  .adventure-3 {
    background: url(../../images/adventure-photos/mountain-hikers.jpg) no-repeat;
    background-size: cover;
  }
  .adventure-4 {
    background: url(../../images/adventure-photos/night-sky.jpg) no-repeat;
    background-size: cover;
  }
}

.shop-stuff img {
  width: 25%;
}
.shop-stuff {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shop-stuff-containers {
  text-align: center;
  max-width: 275px;
  height: 290px;
  border-bottom: solid 2px;
  border-top: solid 2px;
  border-right: solid 1px;
  border-left: solid 1px;
  border-color: $color__border-abbr;
  &:hover {
    border: 1px solid #d99054;
  }
  a {
    padding: 0.7rem 1.5rem;
    background: $color_brand;
    color: #fff;
    text-decoration: none;
  }
}

.journal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

a:active,
a:focus {
  color: #248a83;
  text-decoration: none;
}
a:hover {
  color: #808080;
}
.custom-html-widget {
  display: grid;
}
.widget-area {
  border-left: 1px solid #e1e1e1;
  padding-top: 120px;
  padding-left: 50px;
  padding-right: 250px;
  p {
    display: grid;
  }
  i {
    color: #404040;
  }
  ul {
    display: inline;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #248a83;
  }
}

.widget-title {
  color: #2f1339;
}

.taxonomy-description {
  display: none;
}

.entry-header {
  position: relative;
  h1 {
    color: #fff;
  }
}
.hero-image-header {
  height: 130vh;
  width: 100%;
}

.article {
  position: relative;
  text-align: center;
}

.entry-content h2 {
  color: #2f1339;
}

.page-title {
  display: none;
}
.thumbnail-wrapper img {
  width: 250px;
  height: 250px;
  height: auto;
  display: flex;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
