/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  @include font-size(0.75);
  line-height: 1;
  padding: 0.6rem 1rem 0.4rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  &:hover {
    border-color: #ccc #bbb #aaa;
  }

  &:active,
  &:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5),
      inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

/* Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:focus {
    color: #111;
  }
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'] {
  padding: 3px;
}

textarea {
  padding-left: 3px;
  width: 100%;
}
.search{
  form {
    display: inline-block;
    // width: 50px;
    // height: 50px;
    fieldset {
      border: none;
      padding-top: 15px;
      color:$color_brand;
      .search-field {
        transition: all 1s ease-in-out;
        background-color: transparent;
        border:none;
        width: 0;
        &:focus{
          outline:none;
        }
      }
      ::placeholder{
        color:rgba(255, 255, 255, 0.746);
      }
      .selected {
        width: 200px;
      }
    }
  }
}
