footer {
  background: url('../../images/dark-wood@2x.png') repeat-x;
  padding: 2%;
  line-height: 2em;
  h2,
  h3 {
    color: #d99054;
  }
  span,
  i {
    color: white;
  }

  .site-info {
    display: flex;
    padding-left: 5%;
  }

  .contact-info {
    color: white;
    display: flex;
    flex-direction: column;
    span {
      a {
        text-decoration: none;
        &:visited,
        &:link {
          color: #fff;
        }
      }
    }
  }
  .hours-info {
    color: white;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
  }

  .copyright {
    text-align: center;
    margin: auto;
    width: 1120px;
    color: #fff;
    text-transform: uppercase;
  }

  .front-dark-image {
    background: url('../images/logos/inhabitent-logo-text.svg');
  }
  .front-dark-logo img {
    max-height: 250px;
    bottom: 140px;
    position: relative;
    left: 70em;
  }
}
.front-dark-logo {
  width: 400px;
  display: flex;
  justify-content: flex-end;
}
